# Symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/assets/
/assets/vendor/
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
/phpunit.xml
/.phpunit.cache/

# Python
/venv/
/.env
/quiz_generator_model/
/public/uploads/

# Project-specific
course_data.json
synthetic_questions.json
cleaned_training_data.json